Code/
OFME-Linux/
OpenRGB/
QtProject.conf
StardewValley/
Webcamoid/
cava/
dconf/
dolphinrc
fish/
glade.conf
go/
gtk-3.0/
heroic/
kdeglobals
kiorc
klavaro/
kservicemenurc
ktrashrc
libreoffice/
mimeapps.list
mozilla/
obsidian/
pacseek/
pavucontrol.ini
protonfixes/
pulse/
qBittorrent/
spotify/
sptlrx/
systemd/
unity3d/
vesktop/
vlc/
zen/
